<div>

    <ol class="breadcrumb">
        <li><a>首页</a></li>
        <li><a>产品管理</a></li>
        <li class="active">产品检索</li>
    </ol>
    <div class="container-customized">

        <form class="form-inline">
            <div class="form-group">
                <select class="form-control">
                    <option>one</option>
                    <option>two</option>
                    <option>three</option>
                </select>
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="商品名称或商品编号">
            </div>
            <button class="btn btn-success">Search</button>
        </form>
        <br>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>名称</th>
                <th>编号</th>
                <th>商城价格</th>
                <th>市场价格</th>
                <th>销量</th>
                <th>是否在售</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>红薯</td>
                <td>HS001</td>
                <td>15</td>
                <td>10</td>
                <td>100</td>
                <td>在售</td>
                <td>
                    <a>编辑</a>&emsp;
                    <a>删除</a>&emsp;
                    <a>下架</a>&emsp;
                    <a>复制</a>
                </td>
            </tr>
            <tr>
                <td>红薯</td>
                <td>HS001</td>
                <td>15</td>
                <td>10</td>
                <td>100</td>
                <td>在售</td>
                <td>
                    <a>编辑</a>&emsp;
                    <a>删除</a>&emsp;
                    <a>下架</a>&emsp;
                    <a>复制</a>
                </td>
            </tr>
            <tr>
                <td>红薯</td>
                <td>HS001</td>
                <td>15</td>
                <td>10</td>
                <td>100</td>
                <td>在售</td>
                <td>
                    <a>编辑</a>&emsp;
                    <a>删除</a>&emsp;
                    <a>下架</a>&emsp;
                    <a>复制</a>
                </td>
            </tr>
            <tr>
                <td>红薯</td>
                <td>HS001</td>
                <td>15</td>
                <td>10</td>
                <td>100</td>
                <td>在售</td>
                <td>
                    <a>编辑</a>&emsp;
                    <a>删除</a>&emsp;
                    <a>下架</a>&emsp;
                    <a>复制</a>
                </td>
            </tr>
            <tr>
                <td>红薯</td>
                <td>HS001</td>
                <td>15</td>
                <td>10</td>
                <td>100</td>
                <td>在售</td>
                <td>
                    <a>编辑</a>&emsp;
                    <a>删除</a>&emsp;
                    <a>下架</a>&emsp;
                    <a>复制</a>
                </td>
            </tr>
            <tr>
                <td>红薯</td>
                <td>HS001</td>
                <td>15</td>
                <td>10</td>
                <td>100</td>
                <td>在售</td>
                <td>
                    <a>编辑</a>&emsp;
                    <a>删除</a>&emsp;
                    <a>下架</a>&emsp;
                    <a>复制</a>
                </td>
            </tr>
            <tr>
                <td>红薯</td>
                <td>HS001</td>
                <td>15</td>
                <td>10</td>
                <td>100</td>
                <td>在售</td>
                <td>
                    <a>编辑</a>&emsp;
                    <a>删除</a>&emsp;
                    <a>下架</a>&emsp;
                    <a>复制</a>
                </td>
            </tr>
            <tr>
                <td>红薯</td>
                <td>HS001</td>
                <td>15</td>
                <td>10</td>
                <td>100</td>
                <td>在售</td>
                <td>
                    <a>编辑</a>&emsp;
                    <a>删除</a>&emsp;
                    <a>下架</a>&emsp;
                    <a>复制</a>
                </td>
            </tr>
            <tr>
                <td>红薯</td>
                <td>HS001</td>
                <td>15</td>
                <td>10</td>
                <td>100</td>
                <td>在售</td>
                <td>
                    <a>编辑</a>&emsp;
                    <a>删除</a>&emsp;
                    <a>下架</a>&emsp;
                    <a>复制</a>
                </td>
            </tr>
            <tr>
                <td>红薯</td>
                <td>HS001</td>
                <td>15</td>
                <td>10</td>
                <td>100</td>
                <td>在售</td>
                <td>
                    <a>编辑</a>&emsp;
                    <a>删除</a>&emsp;
                    <a>下架</a>&emsp;
                    <a>复制</a>
                </td>
            </tr>
            <tr>
                <td>红薯</td>
                <td>HS001</td>
                <td>15</td>
                <td>10</td>
                <td>100</td>
                <td>在售</td>
                <td>
                    <a>编辑</a>&emsp;
                    <a>删除</a>&emsp;
                    <a>下架</a>&emsp;
                    <a>复制</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <h1>查询</h1>


</div>













